services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik_config:/etc/traefik
    labels:
      - auththingie2.trusted_proxy=true

  auth:
    container_name: auth
    image: lthummus/auththingie2
    volumes:
      - ./config:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - ENVIRONMENT=test
    labels:
      - traefik.enable=true
      - traefik.http.services.auth.loadbalancer.server.port=9000
      - traefik.http.routers.auth.rule=Host(`auth.example.com`)
      - traefik.http.routers.auth.entrypoints=web

  sample:
    container_name: sample
    image: lthummus/samplesite
    labels:
      - traefik.enable=true
      - traefik.http.services.sample.loadbalancer.server.port=8000
      - traefik.http.routers.sample.middlewares=auththingie2@file
      - traefik.http.routers.sample.rule=Host(`test.example.com`)
      - traefik.http.routers.sample.entrypoints=web
