{{template "base.gohtml"}}

{{define "title"}}Debug{{end}}

{{define "content"}}
    <div id="debug-container" class="at-page">
        <hgroup>
            <h1>AuthThingie 2 Debug</h1>
            <h2>Here's a bunch of information. Maybe it's useful!</h2>
        </hgroup>

        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Debug</li>
            </ul>
        </nav>

        <article>
            <header>
                <strong>Admin Notices</strong>
            </header>
            {{ if .AdminNotices }}
                <ul>
                    {{ range .AdminNotices }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
            {{ else }}
                <p class="at-empty">No admin notices</p>
            {{ end }}
        </article>

        <article>
            <header>
                <strong>Request Information</strong>
            </header>
            <figure>{{ .RequestTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>User Information</strong>
            </header>
            <figure>{{ .UserTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Session Information</strong>
            </header>
            <figure>{{ .SessionTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Build Information</strong>
            </header>
            <figure>{{ .BuildTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Configuration Information</strong>
            </header>
            <figure>{{ .ConfigTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Trusted Proxies</strong>
            </header>
            <figure>{{ .TrustedProxies }}</figure>
        </article>

        <article>
            <header>
                <strong>Runtime System Configuration</strong>
            </header>
            <figure>{{ .VarsTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Environment Variables</strong>
            </header>
            <figure>{{ .EnvVarTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Build Dependencies</strong>
            </header>
            <figure>{{ .DependencyTemplate }}</figure>
        </article>

        <article>
            <header>
                <strong>Detected Interfaces</strong>
            </header>
            <figure>{{ .DetectedInterfaces }}</figure>
        </article>
    </div>
{{end}}
