{{template "base.gohtml"}}

{{define "title"}}{{ .ErrorTitle }}{{end}}
{{define "content"}}
    <div id="full-page-error-container" class="at-page at-narrow">
        <hgroup>
            <h1>{{ .ErrorHeader }}</h1>
            <h2>Well, that didn't work</h2>
        </hgroup>

        <article>
            <p>
                {{ .Error }}
            </p>
        </article>
    </div>
{{end}}
