{{ template "base.gohtml" }}

{{ define "title" }}Change Password{{ end }}

{{ define "content" }}
    <div id="change-password-container" class="at-page">
        <hgroup>
            <h1>Change Password</h1>
            <h2>We should all do this more often. Good on you for rotating a password</h2>
        </hgroup>

        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/edit_self">Edit Profile</a></li>
                <li>Edit Password</li>
            </ul>
        </nav>

        {{ if .Error }}
            <p class="error-box">
                {{ .Error }}
            </p>
        {{ end }}

        <article>
            <header>
                <strong>New Password</strong>
            </header>

            <form action="/edit_self/password" method="post">
                <label for="old_pw">Current Password</label>
                <input type="password" name="old_pw" id="old_pw" required placeholder="Current Password" autocomplete="current-password" />
                <small>This is the password you used to log in with.</small>

                <div class="grid">
                    <div>
                        <label for="pw1">New Password</label>
                        <input type="password" name="pw1" id="pw1" required placeholder="New Password" autocomplete="new-password" />
                    </div>
                    <div>
                        <label for="pw2">New Password (again, with feeling)</label>
                        <input type="password" name="pw2" id="pw2" required placeholder="New Password (again)" autocomplete="new-password" />
                    </div>
                </div>
                <small>Changing your password will invalidate sessions</small>

                <button type="submit">Change Password</button>
            </form>
        </article>
    </div>
{{end}}
