{{ template "base.gohtml" }}

{{ define "title" }}Restarting...{{ end }}

{{ define "content" }}
    <div>
        We've shutdown. Once you restart AuthThingie, please <a href="/">click here</a> to mosey on.
    </div>
{{ end }}
