<article id="totp_setup_container">
    <header>
        <strong>TOTP</strong>
    </header>
    <div>
        Add a second factor to authentication when using a password. You currently have TOTP {{ if .User.TOTPEnabled }}<strong>enabled</strong>. {{ else }}<strong>disabled</strong>. {{ end }}
    </div>
    <footer>
        {{ if .User.TOTPEnabled }}
            <a class="link-like" hx-target="#totp_setup_container" hx-swap="outerHTML" hx-post="/disable_totp" hx-confirm="Are you sure you want to disable TOTP?">Disable TOTP</a>
        {{else}}
            <a href="/enable_totp">Enable TOTP</a>
        {{ end }}
    </footer>
</article>
